<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4 " style="height: 500px;">
      <div class="col"></div>
      <div class="col md-6 bg-white shadow">
        <mat-card>
          <mat-card-title class="bg-warning text-white ps-3 pt-2 pb-2">
            To Do List
          </mat-card-title>
        </mat-card>
        <div class="input-group p-4 shadow">
          <input type="text" class="form-control" placeholder="Enter Tasks" name="tasks" [(ngModel)]="addTaskValue">
          <button mat-button class="btn btn-outline-success" type="button" (click)="addTask()">Add</button>
        </div>
        <h4 class=" text-primary mt-4">Tasks : </h4>
        <div style ="height: 350px;">
          <div class="m-3" *ngFor="let task of taskArr">
            <div class="p-2 shadow border">
              <div class="input-group row ps-3">
                <div class="card col-md-8 border-0">{{task.task_name}}</div>
                <button (click)="edit(task) " type="button" class=" btn btn-outline-primary col me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
                <div (click)="delTask(task)" class="btn btn-outline-danger col">X</div>
              </div>
            </div>
          </div> 
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group p-4  ">
                  <input type="text" class="form-control" placeholder="Enter Tasks" name="tasks" [(ngModel)]="editTaskValue">
                  <button mat-button class="btn btn-outline-success" type="button"data-bs-dismiss="modal" (click)="editTask()">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>



